
/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* Para que el scrolleo en la one page sea suave */
    scroll-behavior: smooth;
}

/* Para quitar los puntos a los items de listas */
ul {
    list-style: none;
}

/* Para que los enlaces hereden el color de texto y no tengan subrayado */
a {
    text-decoration: none;
    color: inherit;
}

/* Este max-width es para que el contenido no se "estire" demasiado hacia los costados y
*  el margin: auto; para tenerlo centrado fácilmente ;)
*/
main {
    max-width: 1200px;
    margin: auto;
}


/*estilos generales*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {
    font-family:  'Lato', sans-serif;
    font-size: 18px;
    line-height: 1.2;
    background-color: #f7f6f6;
    color: #5e5757;

}
h1 {
    font-size: 36px;
    text-align: center;

}
h2 {
    font-size: 28px;
}
p{
    margin: 20px 0px;
    text-align: center;

}




/*header*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    height: 90px;
    width: 100%;
    box-shadow: 0 3px 10px -5px #5f5f5f;
    background-color:  #886f82;
    position: fixed;
    top: 0;
    left: 0;
    color: rgb(12, 11, 11);
}

.logo {
    position: relative;
    padding: 10px; 
}


.menu {
    display: flex;
    font-size: 20px;
    margin-right: 16px;
    

}
.menu li a {
    padding: 16px;
}
/*section*/
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    padding: 16px;
    min-height: 100vh;
    padding-top: 120px;
}

#inicio {
    justify-content: space-around;
    align-items: center;
}

.presentacion-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom:20px;
 
}

.presentacion-img img {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 700%;
} 

.presentacion {
    text-align: center;
    width: 100%;
    
}

.btn_CV {
    background-color: #18d888;
    color: rgb(247, 244, 244);
    padding: 12px 20px;
    border-radius: 50px;
    font-size: 20px;
    margin-top: 16px;
    font-weight: 700;
}
.btn_Cn {
    background-color: #e70b67;
    padding: 12px 400px;
    font-size: 20px;
    margin-top: 46px;
    margin: 100px;
    font-weight: 900;
}
img{
    color: #c5b9b9;
    width: 100px;
    border-radius: 20%;
        
} 
p{
    margin: 40px 70px;
    text-align: center;
    
    
}

h1{
    margin: 10px 0px;
    text-align: center;
}

.contenedor-contacto{
    margin: 100px 300px 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #d19fb4;
    text-shadow: 1px 1px;
    color: #585252;
    border-radius: 10%;
}

.redes-sociales{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px 300px 50px;
}

footer{
    height:100px;
    line-height:50px;
    bottom:0;
    left:0;
    width:100%;
    position: fixed;
    background-color: #dd25af;
}

.p-footer{
    color: white;
    text-align: center;
}